{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">

        <h2>Заказы!</h2>
        <ul>
            {% for i in orders %}
            <li>
                <h1>{{ i.name }}</h1>
                <p>{{ i.phone_number }}</p>
                <p>{{ i.email }}</p>
                <p>{{ i.book }}</p>
                <button><a href ='/order/orders/{{ i.id }}/delete/'>Удалить</a></button>
                <button><a href ='/order/orders/{{ i.id }}/update/'>Изменить</a></button>
            </li>
            {% endfor %}
        </ul>
    

{% include 'components/footer.html' %}